*.iml
.gradle
./local.properties
./.idea/workspace.xml
./.idea/libraries
.DS_Store
./build
./captures
.externalNativeBuild

*.iml
.gradle/
.idea/
.project
.classpath
bin/
gen/
obj/
.settings/
.cprojecte
build/
